{% extends "main.html" %}

{% block title %}Results{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Total Result</h3>
            </div>

            <ul class="list-group">
                {% for poll in polls %}
                <li class="list-group-item">
                    <strong>{{ poll.question }}</strong>
                    <div class="panel-footer">
                        Total &mdash; <strong>{{ poll.total }}</strong>
                    </div>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endblock %}
