<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Software Engineering</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"><a class="btn btn-primary  btn-sm btn-block" href="{% url 'peers' %}">Do peer assessment</a>
						</h3>
			  	</div>
					<div class="card-body">
						<h3 class="card-title"><a class="btn btn-primary  btn-sm btn-block" href="{% url 'scores' %}">View avg result</a>
						</h3>
					</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="col-md">
				<div class="card text-center text-white  mb-3" id="total-orders">
				  	<div class="card-header">
				  		<h5 class="card-title">Robotics</h5>
				  	</div>
				  	<div class="card-body">
				    	<h3 class="card-title"><a class="btn btn-primary  btn-sm btn-block" href="{% url 'peers' %}">Do peer assessment</a>
							</h3>
				  	</div>
						<div class="card-body">
							<h3 class="card-title"><a class="btn btn-primary  btn-sm btn-block" href="{% url 'scores' %}">View avg result</a>
							</h3>
						</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="col-md">
					<div class="card text-center text-white  mb-3" id="total-orders">
					  	<div class="card-header">
					  		<h5 class="card-title">Database</h5>
					  	</div>
					  	<div class="card-body">
					    	<h3 class="card-title"><a class="btn btn-primary  btn-sm btn-block" href="{% url 'peers' %}">Do peer assessment</a>
								</h3>
					  	</div>
							<div class="card-body">
								<h3 class="card-title"><a class="btn btn-primary  btn-sm btn-block" href="{% url 'scores' %}">View avg result</a>
								</h3>
							</div>
					</div>
				</div>
			</div>
